#about{
    position: relative;
    height: 100vh;
    text-align: center;
    content: "";
    display: table;
    clear: both;
}
.about-content{
    width: 80%;
}
.about-content{
    padding-top: 80px;
} 
.image-container{
    width: 100%;
    overflow: hidden;
    -webkit-box-shadow: -9px 2px 20px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -9px 2px 20px -12px rgba(0,0,0,0.75);
    box-shadow: -9px 2px 20px -12px rgba(0,0,0,0.75);;
}
    .image-container img{
        width: 500px;
        margin-left: -90px;
    }
    .about-text{
        text-align: justify;
    }
    .about-text h1{
        color: var(--accent-color);
    }
    .about-text p{
        color: var(--tertiary-color);
    }
    @media screen and (max-width: 991px){
        .image-col{
            display: none;
        }
        .about-content{
            width: 100%;
        }
    }
.about-text{
    padding: 0 20px;
}
.about-text p{
    font-weight:500;
}
.about-text p span{
    color: var(--accent-color);
    width: 500px !important;
    border: 1px solid white;
}
.about-text .row div{
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 5px 0;
    text-align: left;
    color: var(--tertiary-color);
}
.label-about{
    color: var(--accent-color) !important;
}