#hire-me{
    position: relative;
    padding-top: 70px;
    height: 100vh;
    content: "";
    display: table;
    clear: both;
}
#hire-me h1{
    color: var(--accent-color);
}
#hire-me div{
    margin-bottom: 10px;
}
.form-control::placeholder {
    color: var(--tertiary-color) !important;
}
.form-control:focus{
    box-shadow: none;
    border: none;
}
.form-floating input, .form-floating textarea{
    border-radius: 0%;
    box-shadow: none;
    color: var(--primary-color) !important;
    background-color: var(--tertiary-color);
}
.form-floating textarea{
    height: 150px !important;
}
.form-floating input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px var(--tertiary-color) inset;
}
.form-floating input:focus,
.form-floating textarea:focus,
.form-floating label::after, 
.form-floating textarea::after{
    background-color: var(--tertiary-color) !important;
}
.form-floating label{
    color: var(--primary-color);
    margin: 0 10px;
}
.btn-send-email{
    background-color: var(--accent-color);
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    width: 150px;
    font-weight: 500;
    padding: 5px 0;
}
/* .btn-send-email:hover{
    background-color: var(--primary-color);
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
} */
#response-message{
    color: var(--accent-color);
    font-weight: lighter;
}