:root{
    --primary-color: #413620;
    --secondary-color: #9C6615;
    --tertiary-color: #CDD1DE;
    --accent-color: #FFD791;
}
body, nav div{
    background-color: var(--primary-color);
    font-weight: bold;
}
nav{
    position: fixed !important;
    top: 0;
    z-index: 5;
    width: 100%;
    background-color: #9C6615 !important;
}
.navbar-brand, .nav-link{
    color: var(--tertiary-color);
}
.active{
    color: var(--accent-color) !important;
}
@media screen and (min-width: 992px){
    .navbar-collapse{
        display: flex;
        justify-content: end;
    }
    .nav-item{
        padding: 0 50px;
    }
}
.navbar-toggler{
    box-shadow: none !important;
    border: none;
}
.navbar-brand:hover,
.nav-item a:hover{
    color: var(--accent-color);
}
/* main */
#home{
    height: 100vh;
    position: relative;
    top: 0;
    border: 1px solid transparent !important;
    text-align: center;
}
#home .row{
    margin: 0 auto;
}
@media screen and (min-width: 992px){
    .profile-wrapper, .home-text{
        /* display: inline-block;
        vertical-align: middle; */
        margin-top: 100px;
    }
    .profile-wrapper{
        width: 500px;
        background-color: var(--accent-color);
        border-radius: 100%;
        overflow: hidden;
    }
    .home-text{
        font-size: 3rem;
        text-align: left;
        padding-top: 90px;
    }
}
@media screen and (max-width: 991px){
    #home{
        display: flex;
        align-items: center;
    }
    .profile-wrapper{
        display: none;
    }
    .home-text{
        font-size: 2rem;
        text-align: center;
        margin: 0 auto;
    }
    #home div button{
        margin: 0 auto;
        display: inline-block;
    }
    .icon-container{
        display: inline-block;
    }
    h1{
        font-size: 2rem;
    }
}
#home div{
    color: var(--tertiary-color);
}
#name{
    color: var(--accent-color);
}
.btn-hire-me, .btn-hire-me:hover, .btn-hire-me:focus{
    background-color: var(--accent-color) !important;
    border: 1px solid var(--accent-color) !important;
    border-radius: 0;
    color: var(--primary-color) !important;
    font-weight: bold;
}
.btn-download-cv{
    border: 2px solid var(--accent-color) !important;
    border-radius: 0;
    color: var(--accent-color);
    font-weight: bold;
}
    #home div button a{
        text-decoration: none;
        color: var(--accent-color);
    }

.icon-container{
    text-align: left;
    margin-top: 15px;
}
.icon-container img{
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: top;
    cursor: pointer;
}