#skills{
    padding-top: 80px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    content: "";
    display: table;
    clear: both;
}
    #skills h1{
        color: var(--accent-color);
        padding: 10px 0;
    }
    #skills p{
        font-weight:500;
        color: var(--tertiary-color);
        padding: 10px 0;
    }
    .skill-list{
        font-size: 10px;
    }
    .skill-list div figure{
        border-radius: 10px;
        overflow: hidden;
        background-color: var(--tertiary-color);
    }
    .figma-icon{
        height: 100%;
    }
        .figma-icon img{
            /* height: 80%; */
            width: 65%;
        }
        .custom-popover {
            background-color: var(--tertiary-color);
            /* border: ; */
            color: #000;
        }
        .custom-popover .popover-header {
            background-color: var(--tertiary-color);
            color: #000;
        }
        